# JEST
JEST_API_KEY='Apple123!'

# AWS
STAGE=dev
REGION=us-east-2
AWS_ACCOUNT_ID=123

# VPC
AWS_LAMBDA_SECURITY_GROUP_ID=abc
AWS_SUBNET_A=abc
AWS_SUBNET_B=abc
AWS_SUBNET_C=abc


# API Gateway
API_ID=testing
CUSTOM_API_DOMAIN=dev.normalapi.com

# Lambda
VERSION_LAMBDA_FUNCTIONS=false
TOKEN_REFRESH_RATE='7 days'

# KMS
KMS_ENCRYPTION_KEY_ID=abc

# Normal
EXCHANGE_RPS_LIMIT = "10"
